{% extends './base.html'%} {% block content %}
<div class="col-8 mt-5 full-width">
  <form method="post" id="create-form" class="d-flex align-tems-center justify-content-center">
    {% csrf_token %} {% for field in form %}
    <div class="col-9">{{field}}</div>
    {% endfor %}
    <button id="create-btn" type="button" name="button" class="btn btn-outline-success mx-2">
      Create
    </button>
  </form>
</div>
<div id="task-list" class="col-9 col-sm-5 mt-5 full-width">
  {% for task in tasks %}
  <div class="card my-2 {% if task.completed %} line-through {% endif %}" id="task-card" data-id="{{task.id}}">
    <div class="card-body d-flex justify-content-between">
      {{task.title}}
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        id='delete'
        data-id="{{task.id}}"
      >&#10540;</button>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock%}
