body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#task-card:hover{
    cursor: pointer;
}

.full-width{
    width: 100%;
    margin: auto;
}

.line-through{
    text-decoration: line-through;
    color:red;
}

@media (min-width:768px) {
    .full-width{
    width: 80%;
}
}

@media (min-width:990px) {
    .full-width{
    width: 500px;
}
}